@{
    ViewBag.Title = "确认电子邮件";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    <h3>请到您的电子邮箱确认以完成注册。</h3>
</p>
<p class="text-danger">
    @*For DEMO only: You can click this link to confirm the email: <a href="@ViewBag.Link">link</a>
    Please change this code to register an email service in IdentityConfig to send an email.*@
</p>
